@font-face {
    font-family: 'aktiv_groteskbold_italic';
    src: url('/assets/fonts/aktivgroteskbolditalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/aktivgroteskbolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}