// partials
@import 'fonts';

// type
$font-main: aktiv_groteskbold_italic;
$font-size-xl: 5.5vw;
$font-size-l: 3vw;
$font-size-m: 2vw;
$font-size-s: 1.6vw;
$font-size-mobile-xl: 3rem;
$font-size-mobile-l: 2rem;
$font-size-mobile-m: 1.6rem;
$font-size-mobile-s: 1rem;
// units
$spacer: 0.5rem;

// colors
$color-dark: #000;
$color-light: #FFF;
$color-grey: #909090;
$color-accent: #fcff8a;

// text styles
h1, h2, h3, h4, p {
	font-family: $font-main;
	color: $color-light;
}
h1 { 
	font-size: $font-size-xl;
	@media (max-width: 800px) {
		font-size: $font-size-mobile-xl;
	}
}
h4 { 
	font-size: $font-size-m;
	@media (max-width: 800px) {
		font-size: $font-size-mobile-m;
	}
}

//style
::selection {
  background: $color-accent;
}
body {
	margin: 0;
	overflow: hidden;
}

#wrap {
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	width: 100%;
	height: 100%;
	.title {
		position: relative;
		top: 10vh;
		user-select: none;
		cursor: default;
	}
	.instructions {
		position: absolute;
		width: 100%;
		bottom: 10vh;
		h4 {
			cursor: pointer; cursor: hand;
			width: 300px;
			margin: 0 auto;
		}
	}
	#label {
		font-family: $font-main;
		color: $color-light;
		font-size: $font-size-s;
		text-align: left;
		text-transform: capitalize;
		position: absolute;
		bottom: 10.1vh;
		left: 12vw;
		.label-info {
			margin-top: $spacer;
			opacity: 0.5;
		}
		@media (max-width: 800px) {
			font-size: $font-size-mobile-m;
		}
	}
	#overlay {
		position: absolute;
		z-index: 1;
		background-image: url("/assets/images/glass.png");
		width: 100%;
		height: 100%;
		top: 0;
		form {
			position: absolute;
		 	top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-family: $font-main;
			color: $color-light;
			font-size: $font-size-m;
			border-bottom: 1px $color-grey solid;
			width: 60%;
			@media (max-width: 800px) {
				font-size: $font-size-mobile-m;
				width: 90%;
			}
			input {
				font-size: $font-size-m;
				font-family: $font-main;
				color: $color-light;
				background-color: rgba(0, 0, 0, 0);
				border: none;
				width: 60%;
				height: $spacer*6;
				@media (max-width: 800px) {
					font-size: $font-size-mobile-m;
					width: 80%;
					position: relative;
					right: 5%;
				}
			}
			button {
				position: relative;
				top: $spacer;
				left: 2.8%;
				background-color: rgba(0, 0, 0, 0);
				border: none;
				color: $color-light;
				font-size: $font-size-m;
				@media (max-width: 800px) {
					font-size: $font-size-mobile-m;
					left: 7.6%;
				}
			}
			input:focus, button:focus {
				outline: none;
			}
		}
		form:before {
			position: relative;
			right: 2%;
			content: "http://youtube.com/";
			color: $color-grey;
			padding-right: $spacer;
			font-size: $font-size-s;
			@media (max-width: 800px) {
				font-size: $font-size-mobile-s;
				display: block;
				right: 0%;
				text-align: left;
			}
		}
	}
	
	#context {
		pointer-events: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -5;
		canvas {
			position: relative !important;
		}
	}
}

.fadeIntoMe {
  animation-duration: 1s;
  animation-name: fadeIntoMe;
}

@keyframes fadeIntoMe {
  from {
    opacity: 0;
  }
  to {
   opacity: 1;
  }
}